* {
    /*padding: 0;
    margin: 0;
    background-color: black;
    color: white;*/
}

.board {
    display: flex;
}

.square {
    width: 10px;
    height: 10px;
    border: 0.5px solid black;
}

.snake { 
    background-color: #4c0075;
}

.food {
    background-color: red;
}