body {
    background-image: url("/images/backgroundChespin.webp");
    background-position: bottom;
    background-size: cover;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

nav {
    position: fixed;
    right: 0;
    z-index: 2;
}

.title {
    color: black;
    font-size: 25px;
}

.areaRanking {
    width: 40%;
    height: 80%;
    border-radius: 4px;
}

ul {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
    background-color: black;
    gap: 10px;
}

.list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    height: 95%;
    list-style: none;
    border-radius: 4px;
}

.fixListFirst {
    margin-top: 10px;
}

.fixListLast {
    margin-bottom: 10px;
}

span {
    font-family: 'Press Start 2P', Arial, sans-serif;
    color: #8e0eff;
    margin: 0 15px;
}

#menuHamburguerSpan {
    cursor: pointer;
    margin: 15px;
    color: black;
    font-size: 40px;
}

#menuItens {
    position: fixed;
    right: 0;
    background-color: #000000;
    width: 300px;
    height: 400px;
    flex-direction: column;
    z-index: 1;
    border-left: 0.5px solid #8e0eff;
    border-bottom: 0.5px solid #8e0eff;
}

.liSpan {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    list-style: none;
    color: #8e0eff;
    width: 100%;
    height: 40px;
    font-family: 'Press Start 2P', Arial, sans-serif;
}

.spanPlay {
    margin-left: 15px;
}

#play {
    cursor: pointer;
}

.first {
    color: yellow;
}

.second {
    color: gray;
}

.third {
    color: burlywood;
}

.infoRanking {
    font-size: 17px;
}

@media screen and (max-width: 480px){
    body {
        background-image: none;
        background-color: #0b9444;
    }

    .areaRanking {
        width: 85%;
    }

    #menuHamburguerSpan {
       font-size: 40px;
    }

    .infoRanking {
        font-size: 10px;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px){
    body {
        background-image: none;
        background-color: #0b9444;
    }

    .areaRanking {
        width: 87%;
    }

    #menuHamburguerSpan {
       font-size: 40px;
    }

    .infoRanking {
        font-size: 14px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px){
    body {
        background-image: none;
        background-color: #0b9444;
    }

    .areaRanking {
        width: 70%;
    }

    #menuHamburguerSpan {
       font-size: 40px;
    }

    .infoRanking {
        font-size: 14px;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1200px){
    body {
        background-image: none;
        background-color: #0b9444;
    }

    #menuHamburguerSpan {
        font-size: 40px;
    }

    .infoRanking {
        font-size: 15px;
    }
}
