* {
    padding: 0;
    margin: 0;
    font-family: 'Press Start 2P', Arial, sans-serif;
}

.black {
    background-color: rgb(14, 14, 14);
}

.gray {
    background-color: rgb(25, 25, 25);
}

#spanA, .updateName, .updateColor, .clickLi {
    cursor: pointer;
}