:root {
    --snakeColor: #8e0eff;
}

body {
    background-image: url("/images/backgroundChespin.webp");
    background-position: bottom;
    background-size: cover;
}

main {
    width: 100vw;
    height: 100vh;
}

.boardArea {
    display: flex;
    justify-content: center;
}

.board {
    position: relative;
    display: grid;
    margin-top: 20px;
    width: 516px;
    height: 500px;
    border: 0.5px solid #0eff3e;
    border-radius: 3px;
    background-color: rgba(0, 0, 0);
    align-items: center;
    justify-items: center;
}

.square {
    width: 100%;
    height: 100%;
}

.snake {
    background-color: var(--snakeColor);
    width: 93%;
    height: 93%;
}

.food {
    background-color: red;
    height: 70%;
    width: 70%;
}

.option {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#score {
    font-size: 25px;
    margin-left: 100px;
    color: black;
}

#attemps {
    font-size: 25px;
    color: black;
    margin-right: 100px;
}

.buttons {
    visibility: hidden;
    pointer-events: none;
}

.menu {
    background-color: #000000;
    position: absolute;
    border-radius: 4px;
    height: 390px;
    width: 330px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    border: 1px solid #8e0eff;
    font-size: 18px;
    color: #8e0eff;
}

.buttonTryAgain {
    cursor: pointer;
    font-size: 14px;
    background-color: black;
    color: #8e0eff;
    height: 50px;
    width: 160px;
    border: 1px solid #8e0eff;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
}

.buttonTryAgain:hover {
    background-color: #8e0eff;
    color: black;
}

#menuHamburguerSpan {
    cursor: pointer;
    float: right;
    margin: 15px;
    position: relative;
    z-index: 2;
    font-size: 40px;
}

#menuItens {
    position: fixed;
    right: 0;
    background-color: #000000;
    width: 300px;
    height: 400px;
    flex-direction: column;
    z-index: 1;
    border-left: 0.5px solid #8e0eff;
    border-bottom: 0.5px solid #8e0eff;
    padding-top: 60px;
    gap: 10px;
}

li {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    color: #8e0eff;
    width: 100%;
    height: 40px;
}

.liSpan {
    margin-left: 15px;
}

.inputName {
    outline: none;
    border: 1px solid #8e0eff;
    height: 25px;
    width: 85%;
    padding-left: 10px;
    color: white;
    border-radius: 4px;
    background-color: black;
    caret-color: #8e0eff;
    font-size: 14px;
}

.inputName::placeholder {
    color: #8e0eff;
}

.divForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#aMenu {
    position: absolute;
    top: 15px;
    right: 15px;
}

.divChoiceColor {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
}

.colorExample {
    border-radius: 100%;
    height: 25px;
    width: 25px;
}

.divChoiceBoard {
    display: flex;
    flex-direction: row;
    gap: 55px;
    align-items: center;
}

.boardHW {
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonChoiceColor, .buttonChoiceBoard {
    background-color: black;
    color: #8e0eff;
    border: 1px solid #8e0eff;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

#spanBoard {
    font-size: 18px;
}

@media screen and (max-width: 480px){
    body {
        background-image: none;
        background-color: #0b9444;
    }

    .board {
        width: 316px;
        height: 300px;
        margin-top: 0;
        border: 0.5px solid #8e0eff;
    }

    .option {
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    #score {
        margin-left: 0;
        font-size: 18px;
    }

    #attemps {
        margin-right: 0;
        font-size: 18px;
        display: none;
    }

    .buttons {
       visibility: visible;
       pointer-events: auto;
       display: flex;
       flex-direction: column;
       align-items: center;
       gap: 10px;
       position: fixed;
       width: 100%;
       bottom: 0;
       margin-bottom: 40px;
    }

    .arrowButtons {
       height: 82px;
       width: 82px;
       border-radius: 10px;
       background-color: black;
       border: 1px solid #8e0eff;
       color: #8e0eff;
    }

    .menu{
        height: 240px;
        width: 230px;
        font-size: 12px;
    }

    .buttonTryAgain {
        height: 40px;
        width: 130px;
        font-size: 11px;
    }

    .inputName {
        height: 20px;
        font-size: 10px;
    }

    .divChoiceBoard {
        gap: 40px;
    }

    #spanBoard {
        font-size: 12px;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px){
    body {
        background-image: none;
        background-color: #0b9444;
    }

    .board {
        width: 436px;
        height: 420px;
        margin-top: 0;
        border: 0.5px solid #8e0eff;
    }

    .option {
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    #score {
        margin-left: 0;
    }

    #attemps {
        margin-right: 0;
        display: none;
    }

    .buttons {
        visibility: visible;
        pointer-events: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        position: fixed;
        width: 100%;
        bottom: 0;
        margin-bottom: 20px;
    }

    .arrowButtons {
        height: 90px;
        width: 90px;
        border-radius: 10px;
        font-size: 25px;
        background-color: black;
        border: 1px solid #8e0eff;
        color: #8e0eff;
    }

    .menu{
        height: 360px;
        width: 310px;
        font-size: 17px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px){
    body {
        background-image: none;
        background-color: #0b9444;
    }

    .board {
        width: 436px;
        height: 420px;
        margin-top: 0;
        border: 0.5px solid #8e0eff;
    }

    .option {
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    #score {
        margin-left: 0;
    }

    #attemps {
        margin-right: 0;
        display: none;
    }

    .buttons {
        visibility: visible;
        pointer-events: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        position: fixed;
        width: 100%;
        bottom: 0;
        margin-bottom: 20px;
    }

    .arrowButtons {
        height: 90px;
        width: 90px;
        border-radius: 10px;
        font-size: 25px;
        background-color: black;
        border: 1px solid #8e0eff;
        color: #8e0eff;
    }

    .menu{
        height: 360px;
        width: 310px;
        font-size: 17px;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1200px){
    body {
        background-image: none;
        background-color: #0b9444;
    }

    .board {
        width: 416px;
        height: 400px;
        margin-top: 0;
        border: 0.5px solid #8e0eff;
    }

    .option {
        align-items: center;
    }

    #score {
        font-size: 25px;
        margin-left: 20px;
    }

    #attemps {
        font-size: 25px;
        margin-right: 20px;
    }

    .buttons {
        visibility: visible;
        pointer-events: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        position: fixed;
        width: 100%;
        bottom: 0;
        margin-bottom: 20px;
    }

    .arrowButtons {
        height: 90px;
        width: 90px;
        border-radius: 10px;
        font-size: 25px;
        background-color: black;
        border: 1px solid #8e0eff;
        color: #8e0eff;
    }

    .menu{
        height: 380px;
        width: 330px;
        font-size: 18px;
    }
}


@media screen and (max-height: 500px) and (max-width: 380px){
    .board {
        width: 216px;
        height: 200px;
    }

    .arrowButtons {
       height: 65px;
       width: 65px;
    }
}

@media screen and (min-height: 501px) and (max-height:550px) and (max-width: 380px){
    .board {
        width: 236px;
        height: 220px;
    }

    .arrowButtons {
        height: 65px;
        width: 65px;
    }
}

@media screen and (min-height: 551px) and (max-height: 610px) and (max-width: 400px){
    .board {
        width: 286px;
        height: 270px;
    }

    .arrowButtons {
        height: 65px;
        width: 65px;
    }
}

@media screen and (min-height: 611px) and (max-height: 700px) and (max-width: 479px){
    .board {
        width: 316px;
        height: 300px;
    }
}